.footer__link {
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    transition: text-decoration 1s linear;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    transition: text-decoration 1s linear;
}

.footer__link:hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}