.place__website {
    margin: 0;
    margin-right: 28px;
    width: 456px;
    margin-bottom: 48px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

@media (max-width: 1279px) {
    .place__website {
        margin-right: 0px;
        width: 456px;
    }
}

@media (max-width: 1023px) {
    .place__website {
        margin-right: 0px;
        width: 352px;
    }
}

@media (max-width: 767px) {
    .place__website {
        display: none;
    }
}