.cover__overlay {
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.cover__overlay:hover {
    background: rgb(42, 44, 47, 0.3);
}