@import url(./__list/intro__list.css);
@import url(./__points/intro__points.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
.intro {
    margin: 0px;
    margin-left: 148px;
    width: calc(100% - 590px);
    margin-top: 92px;
}

@media (max-width: 1279px) {
    .intro {
        width: calc(100% - 334px);
        margin-left: 48px;
    }
}

@media (max-width: 1023px) {
    .intro {
        width: calc(100% - 48px);
        margin-top: 88px;
        margin-left: 24px;
    }
}

@media (max-width: 767px) {
    .intro {
        margin: 0;
        margin-left: 16px;
        max-width: calc(100% - 32px);
        margin-top: 64px;
    }
}